* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', 'Monaco', 'Menlo', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  color: #1a1a1a;
  line-height: 1.6;
}

code {
  font-family: 'Courier New', 'Monaco', 'Menlo', monospace;
}

